.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}
.align-center {
    text-align: center !important;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
