.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}
.align-center {
    text-align: center !important;
}

.btn-width-40 {
    width: 40% !important;
}

.edit-buttons {
    display: flex;
    justify-content: flex-end;
}
