@import "./app.scss";

.popup-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1031;
}

.window {
    border: 1px solid $secondary;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 460px;
    max-height: 90vh;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1.6rem;
    background-color: var(--bs-primary);
    color: var(--bs-secondary);
}
