@import "./app.scss";
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.popup-modal {
    // color: $light;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    z-index: 1031;
}

.window {
    //background-color: $dark;
    background-color: $primary;
    border: 1px solid $secondary;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    //max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.6rem;
}
