@charset "UTF-8";
.str0 {stroke:#627A78;stroke-width:28.56;stroke-linejoin:bevel;stroke-miterlimit:22.9256}
.fil0 {fill:none}
.fil154 {fill:none;fill-rule:nonzero}
.fil118 {fill:#FAFBF7;fill-rule:nonzero}
.fil117 {fill:#FAFAF6;fill-rule:nonzero}
.fil116 {fill:#F9F9F6;fill-rule:nonzero}
.fil115 {fill:#F8F9F6;fill-rule:nonzero}
.fil119 {fill:#F8F9F5;fill-rule:nonzero}
.fil114 {fill:#F7F8F4;fill-rule:nonzero}
.fil113 {fill:#F7F7F4;fill-rule:nonzero}
.fil112 {fill:#F6F6F3;fill-rule:nonzero}
.fil111 {fill:#F5F6F3;fill-rule:nonzero}
.fil120 {fill:#F4F5F2;fill-rule:nonzero}
.fil110 {fill:#F4F5F2;fill-rule:nonzero}
.fil109 {fill:#F3F4F1;fill-rule:nonzero}
.fil108 {fill:#F3F4F1;fill-rule:nonzero}
.fil107 {fill:#F2F3F0;fill-rule:nonzero}
.fil106 {fill:#F2F3F0;fill-rule:nonzero}
.fil105 {fill:#F1F2EF;fill-rule:nonzero}
.fil121 {fill:#F1F2EF;fill-rule:nonzero}
.fil104 {fill:#F0F1EF;fill-rule:nonzero}
.fil103 {fill:#F0F1EE;fill-rule:nonzero}
.fil102 {fill:#EFF0EE;fill-rule:nonzero}
.fil101 {fill:#EFF0ED;fill-rule:nonzero}
.fil100 {fill:#EEEFEC;fill-rule:nonzero}
.fil99 {fill:#EDEEEC;fill-rule:nonzero}
.fil98 {fill:#EDEEEB;fill-rule:nonzero}
.fil97 {fill:#ECEEEB;fill-rule:nonzero}
.fil96 {fill:#EBEDEA;fill-rule:nonzero}
.fil95 {fill:#EBECE9;fill-rule:nonzero}
.fil122 {fill:#EAECE9;fill-rule:nonzero}
.fil94 {fill:#EAEBE8;fill-rule:nonzero}
.fil93 {fill:#E9EBE8;fill-rule:nonzero}
.fil92 {fill:#E8EAE7;fill-rule:nonzero}
.fil91 {fill:#E8EAE7;fill-rule:nonzero}
.fil123 {fill:#E7E9E6;fill-rule:nonzero}
.fil90 {fill:#E7E8E5;fill-rule:nonzero}
.fil89 {fill:#E6E8E5;fill-rule:nonzero}
.fil88 {fill:#E5E7E4;fill-rule:nonzero}
.fil87 {fill:#E4E7E4;fill-rule:nonzero}
.fil86 {fill:#E4E6E3;fill-rule:nonzero}
.fil85 {fill:#E3E5E3;fill-rule:nonzero}
.fil124 {fill:#E2E5E3;fill-rule:nonzero}
.fil84 {fill:#E2E4E2;fill-rule:nonzero}
.fil83 {fill:#E2E4E2;fill-rule:nonzero}
.fil82 {fill:#E1E3E1;fill-rule:nonzero}
.fil125 {fill:#E1E3E1;fill-rule:nonzero}
.fil81 {fill:#E1E3E0;fill-rule:nonzero}
.fil126 {fill:#E0E2E0;fill-rule:nonzero}
.fil80 {fill:#E0E2E0;fill-rule:nonzero}
.fil79 {fill:#DFE1DF;fill-rule:nonzero}
.fil78 {fill:#DEE1DF;fill-rule:nonzero}
.fil127 {fill:#DEE0DE;fill-rule:nonzero}
.fil77 {fill:#DDE0DE;fill-rule:nonzero}
.fil128 {fill:#DDE0DD;fill-rule:nonzero}
.fil76 {fill:#DDDFDD;fill-rule:nonzero}
.fil75 {fill:#DCDFDC;fill-rule:nonzero}
.fil74 {fill:#DBDEDC;fill-rule:nonzero}
.fil73 {fill:#DBDEDC;fill-rule:nonzero}
.fil129 {fill:#DBDEDB;fill-rule:nonzero}
.fil72 {fill:#DADDDB;fill-rule:nonzero}
.fil71 {fill:#DADDDB;fill-rule:nonzero}
.fil130 {fill:#D9DCDA;fill-rule:nonzero}
.fil70 {fill:#D9DCD9;fill-rule:nonzero}
.fil69 {fill:#D8DBD9;fill-rule:nonzero}
.fil68 {fill:#D8DBD8;fill-rule:nonzero}
.fil67 {fill:#D7DAD8;fill-rule:nonzero}
.fil66 {fill:#D6DAD8;fill-rule:nonzero}
.fil65 {fill:#D6D9D7;fill-rule:nonzero}
.fil64 {fill:#D5D9D7;fill-rule:nonzero}
.fil63 {fill:#D5D8D6;fill-rule:nonzero}
.fil62 {fill:#D4D8D5;fill-rule:nonzero}
.fil61 {fill:#D4D7D5;fill-rule:nonzero}
.fil131 {fill:#D4D7D5;fill-rule:nonzero}
.fil60 {fill:#D3D6D4;fill-rule:nonzero}
.fil59 {fill:#D2D6D4;fill-rule:nonzero}
.fil132 {fill:#D2D6D3;fill-rule:nonzero}
.fil58 {fill:#D1D5D3;fill-rule:nonzero}
.fil57 {fill:#D1D5D3;fill-rule:nonzero}
.fil56 {fill:#D1D4D2;fill-rule:nonzero}
.fil55 {fill:#CFD3D1;fill-rule:nonzero}
.fil54 {fill:#CED2D0;fill-rule:nonzero}
.fil53 {fill:#CED2D0;fill-rule:nonzero}
.fil133 {fill:#CED2D0;fill-rule:nonzero}
.fil52 {fill:#CED1CF;fill-rule:nonzero}
.fil51 {fill:#CDD1CF;fill-rule:nonzero}
.fil50 {fill:#CCD0CE;fill-rule:nonzero}
.fil49 {fill:#CBD0CE;fill-rule:nonzero}
.fil48 {fill:#CACFCD;fill-rule:nonzero}
.fil47 {fill:#CBCFCD;fill-rule:nonzero}
.fil46 {fill:#CACECD;fill-rule:nonzero}
.fil45 {fill:#C9CDCC;fill-rule:nonzero}
.fil44 {fill:#C8CDCB;fill-rule:nonzero}
.fil43 {fill:#C8CDCB;fill-rule:nonzero}
.fil42 {fill:#C8CCCA;fill-rule:nonzero}
.fil41 {fill:#C7CCCA;fill-rule:nonzero}
.fil40 {fill:#C5CAC8;fill-rule:nonzero}
.fil39 {fill:#C5CAC8;fill-rule:nonzero}
.fil134 {fill:#C5C9C7;fill-rule:nonzero}
.fil38 {fill:#C4C9C7;fill-rule:nonzero}
.fil135 {fill:#C2C7C6;fill-rule:nonzero}
.fil37 {fill:#C2C7C6;fill-rule:nonzero}
.fil136 {fill:#C2C7C5;fill-rule:nonzero}
.fil36 {fill:#C1C6C5;fill-rule:nonzero}
.fil137 {fill:#C0C6C4;fill-rule:nonzero}
.fil35 {fill:#C0C5C3;fill-rule:nonzero}
.fil34 {fill:#BEC4C2;fill-rule:nonzero}
.fil33 {fill:#BDC3C1;fill-rule:nonzero}
.fil32 {fill:#BCC2C0;fill-rule:nonzero}
.fil138 {fill:#BBC1C0;fill-rule:nonzero}
.fil31 {fill:#BAC1BF;fill-rule:nonzero}
.fil30 {fill:#B9BFBE;fill-rule:nonzero}
.fil29 {fill:#B8BFBD;fill-rule:nonzero}
.fil28 {fill:#B7BEBC;fill-rule:nonzero}
.fil27 {fill:#B5BCBB;fill-rule:nonzero}
.fil26 {fill:#B4BBBA;fill-rule:nonzero}
.fil139 {fill:#B4BBBA;fill-rule:nonzero}
.fil25 {fill:#B2BAB8;fill-rule:nonzero}
.fil24 {fill:#B2B9B7;fill-rule:nonzero}
.fil140 {fill:#B1B9B7;fill-rule:nonzero}
.fil23 {fill:#B0B8B7;fill-rule:nonzero}
.fil141 {fill:#AFB7B6;fill-rule:nonzero}
.fil22 {fill:#AFB7B5;fill-rule:nonzero}
.fil21 {fill:#AEB6B5;fill-rule:nonzero}
.fil20 {fill:#ACB5B4;fill-rule:nonzero}
.fil142 {fill:#ACB4B3;fill-rule:nonzero}
.fil19 {fill:#ABB3B2;fill-rule:nonzero}
.fil18 {fill:#AAB3B2;fill-rule:nonzero}
.fil143 {fill:#A9B2B1;fill-rule:nonzero}
.fil17 {fill:#A8B1B0;fill-rule:nonzero}
.fil144 {fill:#A8B1B0;fill-rule:nonzero}
.fil16 {fill:#A7B1AF;fill-rule:nonzero}
.fil15 {fill:#A6B0AE;fill-rule:nonzero}
.fil14 {fill:#A4AEAD;fill-rule:nonzero}
.fil13 {fill:#A3AEAD;fill-rule:nonzero}
.fil145 {fill:#A3AEAC;fill-rule:nonzero}
.fil12 {fill:#A2ACAB;fill-rule:nonzero}
.fil146 {fill:#A1ACAB;fill-rule:nonzero}
.fil11 {fill:#A0ABAB;fill-rule:nonzero}
.fil147 {fill:#A0ABAA;fill-rule:nonzero}
.fil10 {fill:#A0AAAA;fill-rule:nonzero}
.fil148 {fill:#9EAAA9;fill-rule:nonzero}
.fil9 {fill:#9EA9A8;fill-rule:nonzero}
.fil149 {fill:#9DA9A8;fill-rule:nonzero}
.fil8 {fill:#9DA8A8;fill-rule:nonzero}
.fil7 {fill:#9BA7A6;fill-rule:nonzero}
.fil6 {fill:#9AA6A5;fill-rule:nonzero}
.fil150 {fill:#9AA6A5;fill-rule:nonzero}
.fil5 {fill:#99A5A5;fill-rule:nonzero}
.fil151 {fill:#98A5A4;fill-rule:nonzero}
.fil4 {fill:#98A4A3;fill-rule:nonzero}
.fil3 {fill:#97A4A3;fill-rule:nonzero}
.fil152 {fill:#96A2A1;fill-rule:nonzero}
.fil2 {fill:#95A2A1;fill-rule:nonzero}
.fil153 {fill:#94A1A1;fill-rule:nonzero}
.fil1 {fill:#94A1A0;fill-rule:nonzero}
.fil155 {fill:url(#id6)}
